<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testng" parallel="classes" thread-count="2">
    <test name="SumDoubleTests">
        <classes>
            <class name="SeleniumRunner">
                <methods>

                </methods>
            </class>

        </classes>
    </test>

</suite>
